.product {
  background-color: var(--card-background);
  width: 220px;
  padding: 20px 16px;
  border-radius: 12px;
  position: relative;
  overflow:hidden;
}
.product__name {
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
    color: var(--text);
}


.product__img {
  border-radius: 12px;

  display: block;
  margin: auto;
}

.product__details {
  display: flex;
  margin-top: 16px;

  justify-content: space-between;
  align-items: center;

  color: var(--text);
}

.product__oldPrice{
    text-decoration: line-through;
}
.product__price{
    font-weight: bold;
    
}
