body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main: #d93636;
    --secondary: #d93240;
    --white: #fff;
    --card-background: #f2f2f0;
    --text: #403f37;
    --container: #bfbfbf;



}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text);
}